<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>

<div class="container mt-5">
    <form action="/login" method="post">
        <div class="card">
            <div class="card-header">
                <h1>Iniciar Sesi칩n</h1>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese su usuario" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contrase침a</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contrase침a" required>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Iniciar Sesi칩n</button>
            </div>
        </div>
    </form>
</div>




<%- include("../templates/pie") %>